@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

.text-dark-primary {
  color: #333; 
}

.text-light-primary {
  color: #fff; 
}

.quote-container {
  height: 150px; 
}


.canvasContainer {
  flex-grow: 1;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-grow {
  flex: 1;
}