@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

.text-dark-primary {
  color: #333; /* Dark text color for light theme */
}

.text-light-primary {
  color: #fff; /* White text color for dark theme */
}

.quote-container {
  height: 150px; 
}
